@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	box-sizing: border-box;
	max-width:60em;
	background:var(--color-grey);
	margin:0 auto
}

body > div {
	background:var(--color-white);
}
body.freeze {
	overflow:hidden;
	height:100%
}

img {
	max-width: 100%
}

/* richt text html */
section div.content a {
	color:var(--color-black);
	text-decoration:underline
}
section div.content a:hover {
	color:var(--color-black);
	text-decoration:none
}
section div.content h3 {
	font-size:1em
}
section div.content p {
	margin-bottom: 1rem;
}

section div.content ul,
section div.content ol {
	list-style:initial;
	margin:1rem 0;
	padding-left:2rem;
}

section div.content li {
	list-style:initial; /* why doesn't this revert to list-style-type:decimal for ol-element? */
	margin-bottom: 1rem;
}
section div.content ol li {
	list-style-type:decimal;
}